.navbar {
    height: 15%;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    color: black;
   }

.navbar-nav {
    float: right;
}

.jumbotron {
    margin-bottom: 20px;
    height: 550px;
    color: black;
    background-color: white;
    padding-top: 120px;
    text-align: center;
}
.lead {
    margin-top: 30px;
    font-size: 20px;

}

.btn {
    background-color: #008FC6;
    font-style: italic;
    font-weight: 500;
    color: white;
}

.secondsection {
    text-align: center;
}